/* Styling */


/* colours 
#616B91 Main Blue
#010206 Main Grey
#FCFCFD Main White

#121C40 Secondary Dark Grey
#D4D9E9 Secondary Blue Grey
#EDEFF5 Tertiary Blue Grey

*/

@font-face {

    font-family: 'OverpassHeader';
    src: url('/style/fonts/Overpass-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
    color: #010206;
}

@font-face {
    font-family: 'OverpassBody';
    src: url('/style/fonts/Overpass-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.overPH {
    font-family: 'OverpassHeader', arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25em;
    line-height: 55px;
}
.overPSubH {
    font-family: 'OverpassHeader', arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

h1 {

    font-family: 'OverpassHeader', arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 5em;
    line-height: 120%;
    text-align: left;
    letter-spacing: 0.02em;

}

h2 {
    font-weight: 600;
    font-size: 2em;
    line-height: 28px;
    color: #010206;
    margin: 0px 0px 5px 0px;
}

h4 {
    font-family: 'OverpassBody', arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #616B91;
    margin: 0px;
}


body {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
        font-family: 'OverpassBody', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}


/* Icons */

span {
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center; 
    align-self: stretch;
    
    }

.iconH {
    background-image: url('/style/icons/PPE.png');
}
.iconV {
    background-image: url('/style/icons/volun.png');
}
.iconM {
    background-image: url('/style/icons/money.png');
}
.iconF {
    background-image: url('/style/icons/food.png');
}




/* Screen One - Onboarding */

#onBoard {
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    height: 98vh;
    display: grid;
    gap: 20px;
    place-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50% 30%;
    grid-template-areas:
        "hero hero"
        "donate explore"
}

#landingImage {
    grid-area: hero;
}

#donate {
    grid-area: donate;
    place-self: center;
    background-image: url('/style/icons/donate.png');
}

#explore {
    grid-area: explore;
    place-self: center;
    background-image: url('/style/icons/Explore.png');
}

/* Screen Two - Browse */

#browse {
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    width: 100vw;
    height: 98vh;
    display: none;
    gap: 20px;
    place-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  15% 5% 20% 20% 5% 20%;
    grid-template-areas:

        ". ."

        "category1 ."

        "char1 char1"

        "char1 char1"

        "category2 ."

        "char2 char2"
}

article {

    background: repeat;
}

#charList {
    grid-area: title;
    background: repeat;
}

#titleOne {
    grid-area: category1;

}

#charitiesOne {
    grid-area: char1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#titleTwo {
    grid-area: category2;
}

#charitiesTwo {
    grid-area: char2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 65%;
    gap: 20px; 
}


/* Screen Three - ChooseType */

#donateSelect {
    text-align: center;
    margin-left: 64px;
    margin-right: 64px;
    height: 98vh;
    display: none;
    gap: 24px;
    place-self: center;
    grid-template-columns: 1fr;
    grid-template-rows:  5% 20% 15% 15% 15% 15% ;
    grid-template-areas:
        "."
        "choicePrompt"

        "hyg"

        "volun"

        "money"

        "food"

}
#choicePrompt {
    grid-area: choicePrompt;
}
#hygiene {
    grid-area: hyg;

}
#volunteer {
    grid-area: volun;

}
#money {
    grid-area: money;
}
#food {
    grid-area: food;

}


.promptCard {
    border-radius: 8px;
    background-color:  #F1F2F7;
    display: grid;
    grid-template-columns: 30% 60%;
    
    margin: 0px;
}


aside {
    align-self: center;
}

h2 {
text-align: left;
    
    }
/* Screen Four - Charity pages */

.CharityPages {
    text-align: center;
    height: 98vh;
    display: none;
    gap: 20px;
    place-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40% 20% 5% 35%;
    grid-template-areas:

        "hero hero hero hero"

        "name name name name"

        "icons icons icons icons"

        "info info info info"
}

.chartHero {
    grid-area: hero;
    background-color: #616B91;

}

.iconRow {
    grid-area: icons;
    display: grid;
    grid-template-columns: 20% 20% 20%;

}

.chartName {
    grid-area: name;
    text-align: left;
    padding: 64px;
}

.chartInfo {
    grid-area: info;
    padding: 64px;
}




